name: Build NuGet package on dev branch push

on:
  push:
    branches:
      - "dev"
    paths:
      - "TimetableDesigner.Backend.Events.OutboxPattern**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x
      - name: Build
        run: dotnet build